@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --primary-text: hsl(220, 40%, 10%);
  --secondary-text: hsl(220, 20%, 30%);
  --primary-light: #a78bfa;
  --primary: #8b5cf6;
  --primary-dark: #7c3aed;
}
